.Card {
  background: rgb(22, 22, 22);
  width: 100%;
  max-width: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
  margin-bottom: 10px;
  padding: 40px;

  h2 {
    margin-bottom: 25px;
  }

  h5 {
    color: rgb(210, 210, 210);
  }

  p {
    font-size: 13px;
    color: rgb(139, 139, 139);
    line-height: 18px;
    
  }
}

.username-avatar-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
