footer {
  height: 70px;
  width: 100%;
  border-top: solid 1px #4a4a4a;
  background: #131313;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: calc(env(safe-area-inset-left) + 20px);
  padding-bottom: env(safe-area-inset-top);
  color: white;
  text-decoration: none;

  @media only screen and (min-width: 600px) {
    display: none;
  }
}
