footer {
  height: 70px;
  width: 100%;
  border-top: solid 1px #4a4a4a;
  background: #131313;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 7%;
  padding-right: 7%;
  padding-top:30px ;
  padding-bottom: calc(env(safe-area-inset-bottom) + 30px);
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;

  @media only screen and (min-width: 600px) {
    display: none;
  }
}
