header {
  background: rgba(0,0,0,0.8);
  padding: 20px 7%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: calc(env(safe-area-inset-top) + 20px);
  color: white;
}

h1{
    color: white;
}

.mobile-menu {
  display: none;
  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.menu-logo-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar {
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 1em;
}

.loading{
  font-size: 100px;
  color: white;
  position: fixed;
  z-index: 5
  ;
}