.NewPost {
  height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  background: #131313;
  z-index: 100;
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: calc(env(safe-area-inset-top) + 50px);
}

.new-post-content{
  width: 100%;
 
}

textarea{
  width: 100%;
  margin-top: 50px;
  height: 200px;
  background: transparent;
  border: 0;
  resize: none;
  outline: none;
  color: white;
}
