.ProfileTag{
    padding: 3px 10px;
    width: fit-content;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    background: transparent;
    border: 1px solid #E46464;
    color: #E46464;
}