.App {
  background: #f9f9f9;
  height: fit-content;
  flex: 1;
  transition: 0.2s ease-in-out;
  position: relative;
padding-top: 100px;

  @media only screen and (max-width: 600px) {
    min-width: 100%;
  }
}

.App-Sidebar-wrap {
  display: flex;
  overflow-x: hidden;
  height: 100vh;
}


