* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  -webkit-appearance:none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: fit-content;
  overflow: hidden;
}

html,
body {
  width: 100%;
  background: #0B0B0B;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}


